002_Workflow_w_Kestra/04_postgres_taxi.yaml
# Building ETL Pipeline in Kestra with Postgres for ny_taxi data

id: 04_postgres_taxi  #required - read-only after save - must be unique in namespace
namespace: zoomcamp   #required - read-only after save - used to group flows
description: |
  The CSV Data used in the course: https://github.com/DataTalksClub/nyc-tlc-data/releases

inputs:               #optional - parameterize a workflow - on execute- enter values for inputs
  - id: taxi          #used to interpolate data - {{ inputs.[id] }}
    type: SELECT      #variable type - e.g., string, bool, date, arr, etc.
    displayName: Select taxi type
    values: [yellow, green]   #values arr provides dropdown for list of options
    defaults: yellow

  - id: year
    type: SELECT
    displayName: Select year
    values: ["2019", "2020"]
    defaults: "2019"

  - id: month
    type: SELECT
    displayName: Select month
    values: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]
    defaults: "01"

variables:          #optional - here- using repeatable variables with input expressions
  file: "{{inputs.taxi}}_tripdata_{{inputs.year}}-{{inputs.month}}.csv"  #{{ vars.file }} - interpolation
  staging_table: "public.{{inputs.taxi}}_tripdata_staging"
  table: "public.{{inputs.taxi}}_tripdata"
  data: "{{outputs.extract.outputFiles[inputs.taxi ~ '_tripdata_' ~ inputs.year ~ '-' ~ inputs.month ~ '.csv']}}"
    #takes from output of extract task below

tasks:             #required - list of tasks to be executed sequentially
  - id: set_label  
    type: io.kestra.plugin.core.execution.Labels   #set labels for the execution
    labels:        #key-value pairs attached to each execution
      file: "{{render(vars.file)}}"  #render used to resolve variables in expression labels (rather than print {{}})
      taxi: "{{inputs.taxi}}"

  - id: extract    #download data from github
    type: io.kestra.plugin.scripts.shell.Commands  #run shell commands
    outputFiles:
      - "*.csv"    #specify output files to be captured as csv outputs
    taskRunner:    #use process runner to run commands locally
      type: io.kestra.plugin.core.runner.Process  #process runner
    commands:      #list of commands to run
      - wget -qO- https://github.com/DataTalksClub/nyc-tlc-data/releases/download/{{inputs.taxi}}/{{render(vars.file)}}.gz | gunzip > {{render(vars.file)}}

  # postgres tasks
  - id: if_yellow_taxi
    type: io.kestra.plugin.core.flow.If
    condition: "{{inputs.taxi == 'yellow'}}"
    then:
      - id: yellow_create_table 
        type: io.kestra.plugin.jdbc.postgresql.Queries
        # sql query below creates table with all csv values - and adds unique_row_id and filename columns
        sql: |
          CREATE TABLE IF NOT EXISTS {{render(vars.table)}} (
              unique_row_id          text,
              filename               text,
              VendorID               text,
              tpep_pickup_datetime   timestamp,
              tpep_dropoff_datetime  timestamp,
              passenger_count        integer,
              trip_distance          double precision,
              RatecodeID             text,
              store_and_fwd_flag     text,
              PULocationID           text,
              DOLocationID           text,
              payment_type           integer,
              fare_amount            double precision,
              extra                  double precision,
              mta_tax                double precision,
              tip_amount             double precision,
              tolls_amount           double precision,
              improvement_surcharge  double precision,
              total_amount           double precision,
              congestion_surcharge   double precision
          );

  - id: if_green_taxi
    type: io.kestra.plugin.core.flow.If
    condition: "{{inputs.taxi == 'green'}}"
    then:
      - id: green_create_table
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          CREATE TABLE IF NOT EXISTS {{render(vars.table)}} (
              unique_row_id          text,
              filename               text,
              VendorID               text,
              lpep_pickup_datetime   timestamp,
              lpep_dropoff_datetime  timestamp,
              store_and_fwd_flag     text,
              RatecodeID             text,
              PULocationID           text,
              DOLocationID           text,
              passenger_count        integer,
              trip_distance          double precision,
              fare_amount            double precision,
              extra                  double precision,
              mta_tax                double precision,
              tip_amount             double precision,
              tolls_amount           double precision,
              ehail_fee              double precision,
              improvement_surcharge  double precision,
              total_amount           double precision,
              payment_type           integer,
              trip_type              integer,
              congestion_surcharge   double precision
          );

pluginDefaults:
  - type: io.kestra.plugin.jdbc.postgresql
    values:
      url: jdbc:postgresql://pgdatabase:5432/ny_taxi
        #added because primarily using postgres tasks
      username: root
      password: root
        #normally would use secrets or key/value store for username and password