008_Course_Project/gcp_pipeline/03_gcp_data_ingestion.yaml
id: 03_data_ingestion
namespace: zoomcamp

tasks:
  - id: extract_from_kaggle
    type: io.kestra.plugin.scripts.python.Commands
    description: Downloading dataset from Kaggle
    containerImage: python:3.12-slim
    beforeCommands:
      - pip install kaggle
    commands:
      # Kestra provides a 'workingDir' for every execution
      - mkdir -p {{ workingDir }}/data
      - export KAGGLE_CONFIG_DIR={{ workingDir }}
      # Create the kaggle.json on the fly using your credentials
      - echo "{\"username\":\"{{ secret('KAGGLE_USERNAME')}}\",\"key\":\"{{ secret('KAGGLE_KEY') }}\"}" > {{ workingDir }}//kaggle.json
      - chmod 600 {{ workingDir }}/kaggle.json
      - kaggle datasets download -d mayureshkoli/police-deaths-in-usa-from-1791-to-2022 --unzip -p {{ workingDir }}/data
    outputFiles:
      # only pull the police deaths csv
      - "data/police_deaths_USA_v7.csv"

  - id: upload_to_gcs
    type: io.kestra.plugin.gcp.gcs.Upload
    # Point directly to the specific file output from the previous task
    from: "{{ outputs.extract_from_kaggle.outputFiles['data/police_deaths_USA_v7.csv'] }}"
    to: "gs://{{ kv('GCP_BUCKET_NAME') }}/kestra_raw/police_deaths/year={{ now() | date('yyyy') }}/month={{ now() | date('MM') }}/police_deaths_USA_v7.csv"

  - id: create_external_bq_table
    type: io.kestra.plugin.gcp.bigquery.Query
    sql: |
      CREATE OR REPLACE EXTERNAL TABLE `{{ kv('GCP_PROJECT_ID') }}.{{ kv('GCP_DATASET') }}.raw_police_deaths`
      (
        Rank STRING,
        Name STRING,
        Age FLOAT64,
        End_Of_Watch DATETIME,
        Day_Of_Week STRING,
        Cause STRING,
        Department STRING,
        State STRING,
        Tour STRING,
        Badge STRING,
        Weapon STRING,
        Offender STRING,
        Summary STRING
      )
      OPTIONS (
        format = 'CSV',
        uris = ['gs://{{ kv('GCP_BUCKET_NAME') }}/kestra_raw/police_deaths/*'],
        skip_leading_rows = 1,
        ignore_unknown_values = TRUE,
        quote = '"',
        allow_quoted_newlines = TRUE
      );

# pluginDefaults for GCP credentials and settings
pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{secret('GCP_CREDS')}}"
      projectId: "{{kv('GCP_PROJECT_ID')}}"
      location: "{{kv('GCP_LOCATION')}}"
      bucket: "{{kv('GCP_BUCKET_NAME')}}"

triggers:
  - id: monthly_schedule
    type: io.kestra.plugin.core.trigger.Schedule
    # Runs at midnight the first of each month
    cron: "0 0 1 * *"