008_Course_Project/gcp_pipeline/03_gcp_data_ingestion.yaml
id: 03_data_ingestion
namespace: zoomcamp

tasks:
  - id: extract_from_kaggle
    type: io.kestra.plugin.scripts.python.Commands
    description: Downloading dataset from Kaggle
    containerImage: python:3.12-slim
    beforeCommands:
      - pip install kaggle
    commands:
      # Kestra provides a 'workingDir' for every execution
      - mkdir -p {{ workingDir }}/data
      - export KAGGLE_CONFIG_DIR={{ workingDir }}
      # Create the kaggle.json on the fly using your credentials
      - echo "{\"username\":\"{{ secret('KAGGLE_USERNAME')}}\",\"key\":\"{{ secret('KAGGLE_KEY') }}\"}" > {{ workingDir }}//kaggle.json
      - chmod 600 {{ workingDir }}/kaggle.json
      - kaggle datasets download -d mayureshkoli/police-deaths-in-usa-from-1791-to-2022 --unzip -p {{ workingDir }}/data
      # Let's find the filename dynamically so the next task knows what to grab
      - ls {{ workingDir }}/data/*.csv > {{ workingDir }}/filename.txt
    outputFiles:
      - "data/*.csv"

  - id: upload_files
    type: io.kestra.plugin.core.flow.ForEach
    values: "{{ outputs.extract_from_kaggle.outputFiles | values }}"
    tasks:
    - id: upload_to_gcs
      type: io.kestra.plugin.gcp.gcs.Upload
      from: "{{ taskrun.value }}"
      # This dynamically names the file in GCS based on its original name
      to: "gs://{{ kv('GCP_BUCKET_NAME') }}/kestra_raw/{{ taskrun.value | split('/') | last }}"

# pluginDefaults for GCP credentials and settings - completely changed from postgres setup
pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{secret('GCP_CREDS')}}"
      projectId: "{{kv('GCP_PROJECT_ID')}}"
      location: "{{kv('GCP_LOCATION')}}"
      bucket: "{{kv('GCP_BUCKET_NAME')}}"
