008_Course_Project/gcp_pipeline/03_gcp_data_ingestion.yaml
id: 03_data_ingestion
namespace: zoomcamp

variables:
  file: "{{inputs.taxi}}_tripdata_{{inputs.year}}-{{inputs.month}}.csv"
  #gcp_file in place of staging_file - gcs=google cloud storage
  gcs_file: "gs://{{kv('GCP_BUCKET_NAME')}}/{{vars.file}}"
  #gcp bigQuery dataset table in place of postgres table
  table: "{{kv('GCP_DATASET')}}.{{inputs.taxi}}_tripdata_{{inputs.year}}_{{inputs.month}}"
  data: "{{outputs.extract.outputFiles[inputs.taxi ~ '_tripdata_' ~ inputs.year ~ '-' ~ inputs.month ~ '.csv']}}"


tasks:
  - id: extract_from_kaggle
    type: io.kestra.plugin.scripts.python.Commands
    description: Downloading dataset from Kaggle
    containerImage: python:3.11-slim
    beforeCommands:
      - pip install kaggle
    commands:
      # Kestra provides a 'workingDir' for every execution
      - mkdir -p {{ workingDir }}/data
      - export KAGGLE_CONFIG_DIR={{ workingDir }}
      # Create the kaggle.json on the fly using your credentials
      - echo "{\"username\":\"{{ secret('KAGGLE_USERNAME')}}\",\"key\":\"{{ secret('KAGGLE_KEY') }}\"}" > {{ workingDir }}//kaggle.json
      - chmod 600 {{ workingDir }}/kaggle.json
      - kaggle datasets download -d mayureshkoli/police-deaths-in-usa-from-1791-to-2022 --unzip -p {{ workingDir }}/data
      # Let's find the filename dynamically so the next task knows what to grab
      - ls {{ workingDir }}/data/*.csv > {{ workingDir }}/filename.txt

# SORT OUT
  - id: upload_to_gcs
    type: io.kestra.plugin.gcp.gcs.Upload
    # This uses a Kestra variable to find the first CSV file produced by the previous task
    from: "{{ outputs.extract_from_kaggle.outputFiles | values | first }}"
    bucket: "your-terraform-bucket-name"
    destination: "raw/police_deaths_1791_2022.csv"
    serviceAccount: "/app/gcp-creds.json"
    project: "your-project-id"


# pluginDefaults for GCP credentials and settings - completely changed from postgres setup
pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{secret('GCP_CREDS')}}"
      projectId: "{{kv('GCP_PROJECT_ID')}}"
      location: "{{kv('GCP_LOCATION')}}"
      bucket: "{{kv('GCP_BUCKET_NAME')}}"
